
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  /* background: linear-gradient(to right, #000428, #004e92); */
  background:
  radial-gradient(circle at 30% 30%, #8a2be2 0%, transparent 50%),
  radial-gradient(circle at 70% 70%, #00c6ff 0%, transparent 50%),
  #000428;


  color: #ffffff;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: rgba(0, 0, 0, 0.7);
}

nav h1 {
  color: #00ffff;
  text-shadow: 0 0 5px #00ffff;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

nav ul li a:hover, nav ul li a.active {
  color: #00ffff;
  text-shadow: 0 0 5px #00ffff;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 10%;
  position: relative;
  min-height: 100vh;
}

.hero-text {
  max-width: 600px;
  z-index: 1;
}

.gradient-text {
  font-size: 3rem;
  background: linear-gradient(90deg, #00ffff, #8a2be2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px #00ffff;
}

.hero-text h2 {
  font-size: 2.5rem;
  color: white;
}

.hero-text p {
  margin-top: 20px;
  font-size: 1rem;
  color: #aaa;
}

.hero-text .buttons {
  margin-top: 30px;
}

.hero-text .buttons a {
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 5px;
  margin-right: 15px;
  transition: 0.3s;
  font-weight: 500;
}

.btn-blue {
  background: linear-gradient(90deg, #00ffff, #8a2be2);
  color: #000;
  box-shadow: 0 0 15px #00ffff;
}

.btn-dark {
  background: #111;
  color: #00ffff;
  border: 1px solid #00ffff;
}

.profile-img {
  z-index: 1;
}

.profile-img img {
  border-radius: 50%;
  border: 5px solid #111;
  width: 250px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}
